@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: #100E09 !important;
    font-family: 'Roboto';
}

.conteiner{
    display: flex;
    justify-content: center;
}

.card{   
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    background-color: #302c3c !important;
    color: white !important;
    box-shadow: 3px 3px 1px #28242c;
    width: 300px;    
    height: 350px;
}

.card>img{
    width: 102%;
}

.card>p{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 6px;
}

.conteudo{
    text-align: justify;
}

#btn{
   display: flex;
   justify-content: center;
   margin: auto; 
   margin-top: 10px;
   cursor: pointer; 
}

.back{
    cursor: pointer;
}