@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #1C1D26!important;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

.todo-container{
    color: black;
    max-width: 1000px;
    margin: 5rem auto 0;
    background-color: #4FC262;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.467);
}

input{
    border: .3px solid black;
    border-radius: 4px;
    outline: none;
}

h1{
    letter-spacing: 2px;
}

button{
    background-color: #78D962;
    border: 1px solid black;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .4s ease 0s;
}

button:hover:not(.btn-close):not(.btn){
    background-color: #4FC262;
}

button > i{
    color: white;
}

button i {
    color: #21381c;
    font-weight: bold;
    pointer-events: none;
}

input , select{
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}

header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form , #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search{
    border-right: 1px solid #ccc;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.33rem;
    padding: 5px;
    border-radius: 4px;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    flex: 1;
}

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: .3s;
}

.todo h3{
    flex: 1;
    font-size: .9rem ;
    transform: translateY(8px);
}

.todo button{
    margin-left: .4rem;
}

.done{
    background-color: #4C4C59;
}

.done h3{
    color: white;
    text-decoration: line-through;
    font-style: italic;
}

nav{
    background-color: #18181c !important;
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.697) !important; 
}

.nav-link{
    color: white !important;
}

ul a:hover{
    color: #78D962!important;
    transition: all .3s ease 0s;
}

img{
    width: 100px;
}

.offcanvas{
    background-color: #23242f !important;
}

.btn-close{
    padding: .3rem .6rem;
    cursor: pointer;
    transition: .4s ease 0s;
}

.date{
    outline: none;
    border: .6px solid black;
    border-radius: 4px;
    padding: 4.5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.558);
}

@media(max-width: 600px){
    .date{
        font-size: 14px;
        padding: 4px;
    }
}

.date-p{
    transform: translateY(10px);
}

.done .date-p{
    color: white;
    text-decoration: line-through;
}

.infoIcon{
    margin-top: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

select{
    border-radius: 4px;
}

.helpIcon{
    font-size: 2.5rem;
    cursor: pointer;
}

.bell{
    font-size: 1.4rem;
    cursor: pointer;
}